.carousel{
    object-fit: none; 
    object-position: center; 
    width: 100%;
    max-height: 375px;
}

#page-content{
    margin-top: 80px;
}

Footer {
    margin-top: 50px;
}
.center{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.google-login{
    border: none;
    color: black;
    width: 382px;
    padding: 92px 0 0 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background: url("./btn_google_signin_light_normal_web@2x.png") no-repeat;
    
}
/*http://www.se.rit.edu/~mxs7353/html/style.css*/