.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3.5em;
  color: white;
  margin-bottom: 7%;
}

.App-intro {
  font-size: large;
}

.App-login {
  border: solid gray thin;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  background-color: #2c3e50;
  border-radius: 60px;
}

.App-login-icon {
  height: 150px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.App-login-button {
  background-color: red;
  color: white;
  margin-bottom: 10%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
